<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
<body>

<div id="app">
{{- partial "sidebar.html" . -}} <!-- desktop view -->
{{- partial "extrabar.html" . -}}

{{- partial "mobile-header.html" . -}} <!-- mobile header -->

<main id="content">
{{- block "main" . }}{{- end }}
</main>
</div>

<footer>
{{- partial "mobile-footer.html" . -}} <!-- mobile footer -->
{{- partial "journal.html" . -}} <!-- desktop footer -->
{{- if not .Site.IsServer -}}{{- partial "disqus.html" . -}}{{- end -}}
</footer>
</body>
</html>
