/* https://gist.github.com/loikein/7b2a4f7d98d366a732dafd755b5248ff */

/* section title counter */

.post-body:not(.archive-body) h2{
  counter-increment: counter_h2;
  counter-reset: counter_h3;
}
/* 正文标题序号 */
/* .post-body:not(.archive-body) h2::before {
  content: counter(counter_h2)". ";
} */

.post-body:not(.archive-body) h3 {
  counter-increment: counter_h3;
}

/* .post-body:not(.archive-body) h3::before {
  content: counter(counter_h2)"."counter(counter_h3)". ";
} */

.toc .toc-content > ul > ul > li {
  counter-increment: counter_toc_h2;
  counter-reset: counter_toc_h3;
}
/* 目录标题序号 */
/* .toc .toc-content > ul > ul > li::before {
  content: counter(counter_toc_h2)". ";
} */

.toc .toc-content > ul > ul > ul > li {
  counter-increment: counter_toc_h3;
}

/* .toc .toc-content > ul > ul > ul > li::before {
  content: counter(counter_toc_h2)"."counter(counter_toc_h3)". ";
} */

/* two-col */

.row {
  /* mobile */
  display: grid;
  width: 100%;
  gap: 0.3rem;
  margin: 0 0 1rem 0;
}

.row .column:nth-of-type(2n) {
  margin-left: 1rem;
}

.row .column>p:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  /* desktop */
  /* https://stackoverflow.com/a/62086985 */
  .row {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    /* above 2 lines are equivalent as below 1 line */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 1rem;
    margin: 0 0 1rem 0;
  }
  .row .column:nth-of-type(2n) {
    margin-left: 0;
  }
}

body.night .post-body .row,
body.night .post-body .row .column {
  color: #e6e6e6;
}

/* responsive iframe */

.video-container{
    position: relative;
    height: 0;
    margin-bottom: 1rem;
}

.video-container--4x3{ padding-bottom: 75%; }
.video-container--16x9{ padding-bottom: 56.25%; }

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* embedded gist normalization */
.gist table,
.gist table tr th,
.gist table tr td{
  border: 0px;
}

.gist tbody tr:nth-of-type(odd) {
  background-color: unset;
}
