/* https://github.com/loikein/literate-html/blob/master/example-project/main.css */
/* accordion */

/* fediverse-status-cw */

/* label */

/* .fediverse-status-cw__item { 
    overflow: hidden;
    background-color: rgb(255,212,0,7%);
} */

.fediverse-status-cw__label {
    display: block;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
/*     background-image: linear-gradient(135deg,
        transparent 25%,
        rgb(246, 240, 207,7%) 25%, rgb(246, 240, 207,7%) 50%,
        transparent 50%, transparent 75%,
        rgb(246, 240, 207,7%) 75%, rgb(246, 240, 207,7%) 100%); */
    background-image: linear-gradient(135deg,
        rgb(255,212,0,10%) 25%,
        rgb(246, 240, 207,10%) 25%, rgb(246, 240, 207,10%) 50%,
        rgb(255,212,0,10%) 50%, rgb(255,212,0,10%) 75%,
        rgb(246, 240, 207,10%) 75%, rgb(246, 240, 207,10%) 100%);
    background-size: 40px 40px;
}

.fediverse-status-cw__label::before {
    /* content: "CW: "; */
}

.fediverse-status-cw__label::after {
    /* content: "\276F"; */
    content: "显示内容";
    display: inline-block;
    margin-left: 0.8rem;
    border: 1px solid var(--theme-color-1);
    padding: 0 5px 0 5px;
    border-radius: 20px;
}

.fediverse-status-cw__input:checked + .fediverse-status-cw__label::after {
    content: "隐藏内容";
    /* transform: rotate(90deg); */
}

.fediverse-status-cw__input:checked + .fediverse-status-cw__label {
    margin-bottom: 1rem;
    padding-bottom: 0;
}

/* input */

.fediverse-status-cw__input:focus { outline: none; }

.fediverse-status-cw__input:focus + .fediverse-status-cw__label {
    outline: medium auto currentColor;
    outline: medium auto invert;
    outline: 5px auto -webkit-focus-ring-color;
}

.fediverse-status-cw__input {
    position: absolute; /* hide behind label */
    outline: none;
    width: 1px;
    height: 1px;
    margin-left: 2px;
    margin-top: 2px;
    z-index: -100;
}

/* content */

.fediverse-status-cw__content {
    display: none;
    visibility: collapse;
}

.fediverse-status-cw__input:checked ~ .fediverse-status-cw__content {
    display: block;
    visibility: visible;
    width: 100%;
    height: auto;
    background: none;
}
