{{ $alt := .Get "alt" | default "image" }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end -}}
    {{- if .Get "src" -}}
    <img src="{{ .Get "src" }}"
         alt="{{ $alt | markdownify| plainify }}"
         {{- with .Get "h" }} height="{{ . }}"{{ end -}}
         {{- with .Get "w" }} width="{{ . }}"{{ end -}}
    /><!-- Closing img tag -->
    {{- else -}}
    <img src="/{{ .Get "folder" | default "post-img" }}/{{ .Get "name" }}"
         alt="{{ $alt | markdownify| plainify }}"
         {{- with .Get "h" }} height="{{ . }}"{{ end -}}
         {{- with .Get "w" }} width="{{ . }}"{{ end -}}
    /><!-- Closing img tag -->
    {{- end -}}

    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <p>{{ . }}</p>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
